<html>

<head>
    <link href="css/materialize.css" rel="stylesheet">
</head>

<body>
    <div class="container" style="margin-top: 25px;">
        <a class="waves-effect waves-light btn" href="cadastraBovino">Cadastrar</a>
    </div>
</body>

</html>