#imgLogo {
    width: 205px;
}

#logoCow {
    position: relative;
    vertical-align: sub;
    right: 10px;
}


#logoProp {
    position: relative;
    vertical-align: sub;
    right: 10px;
}


#background {
    position: relative;
    top: 180px;   
}

.edit:hover {
     background-color: #ccc;
     color: #26a69a;
}

.delete:hover {
    background-color: #ccc;
    color: red;
}