<html>

<head>
    <link href="css/materialize.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">
                <img id="imgLogo" src="img/logo.png">
            </a>
            <ul class="right hide-on-med-and-down">
                <li>                    
                    <a href="listaBovino" class="btn-flat"><img id="logoCow" src="img/cow.png">Bovinos</a>
                    <a href="listaProprietario" class="btn-flat"><img id="logoProp" src="img/proprietario.png">Proprietários</a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="background" class="center">
        <img src="img/background.png">
    </div>

</body>

</html>