<html>

<head>
    <link href="css/materialize.css" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">BovinoOnline</a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="listaBovino" class="waves-effect waves-light btn">Bovinos</a>
                    <a href="listaProprietario" class="waves-effect waves-light btn">Proprietários</a>
                </li>
            </ul>
        </div>
    </nav>
</body>

</html>